.app-container {
  width: 50%;
}

ul {
  margin: 0;
  padding: 0;
}

.form {
  padding: 0 4rem;
}

.image {
  width: 500px;
}

.btn-agregar {
  margin-top: 40px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
